/* Общие стили */
body {  
    margin: 0;  
    font-family: Arial, sans-serif;  
}

/* Стили для заголовков */
h1 { 
    line-height: 1;  
} 

h3 { 
    line-height: 1; 
}

p {
    font-size: 15px; /* Увеличиваем размер текста в параграфах */
}

/* Стили для списков */
ul { 
    line-height: 2; 
}

/* Кастомные стили для высоты строки */
.custom-line-height { 
    line-height: 40px; /* Устанавливает фиксированное расстояние между строками */ 
}

/* Стили для баннеров */
.green-banner {  
    background-color: green;  
    color: white;  
    text-align: center;  
    padding: 10px 0;  
    font-size: 15px;
}  

/* Стили для блока с информацией */
.blue-block {  
    background-color: blue;  
    color: white;  
    height: auto;  
    width: 30%;  
    margin: 0 auto;  
    padding: 15px;  
    overflow: auto;  
    font-size: 14px;  
    position: relative; /* Позволяет точно позиционировать элементы внутри блока */
    left: 20px; /* Задайте расстояние от левого края окна */ 
}  

/* Стили для текста с пробелами между буквами */
.spaced-text { 
    color: rgb(81, 203, 255); /* Установите цвет текста на голубой */ 
} 

.spaced-heading {
    word-spacing: 10px; /* Увеличиваем отступ между словами */
}

/* Стили для прямоугольников */
.rectangle {  
    background-color: transparent; /* Прозрачный фон */  
    border: 5px solid white; /* Белая рамка */  
    width: 25%;  
    height: 110px;  
    margin-top: 0.3%;  
    float: left; /* добавлено для обтекания текста */  
    margin-right: 15px; /* отступ для текста */    
    border-top-left-radius: 30px; /* Скругление верхнего левого угла */ 
    border-bottom-right-radius: 30px; /* Скругление правого нижнего угла */ 
    margin-bottom: 20px; 
} 

.flex-container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
}
.table-container {
    margin-left: 80px;
    margin-top: 15px; /* Увеличиваем отступ между текстом и таблицей */
}


td{
    width: 50px;
    height:40px;
    border: solid 1px silver;
    text-align:center;
    }


.spaced-text {  
    color: rgb(81, 203, 255);  
}  
 
.spaced-heading { 
    word-spacing: 10px;
}

/* Стили для ссылок */
.link-center {  
    text-align: center; /* Центрирование текста ссылки */  
    margin-top: 0; /* Отступ сверху перед ссылкой */  
}  

.link-center a {  
    color: rgb(192, 0, 0); /* Цвет ссылки */  
    text-decoration: none; /* Убираем подчеркивание */  
    font-weight: bold; /* Жирное начертание текста */  
}  

/* Стили для изображений */
.image {
    position: absolute; /* Используем абсолютное позиционирование */
    bottom: 5px; /* Высота футера плюс отступ */
    right: 25px; /* Отступ от правого края */
    width: 20px; /* Ширина изображения */
    height: auto; /* Высота автоматически подстраивается */
}

/* Стили для выделения текста */
.highlight {  
    color: red; /* Красный цвет для выделения */  
}  

/* Стили для футера */
.footer {  
    position: fixed;  
    bottom: 18px; 
    width: 100%;  
} 