* /*p {
    line-height: 1.5; 
*/

ul{
    line-height: 2;
}

h1 {
    line-height: 2; /* Устанавливает межстрочное расстояние в 2 раза больше размера шрифта */
}

h4{
    line-height: 1;
}

.custom-line-height {
    line-height: 40px; /* Устанавливает фиксированное расстояние между строками */
}

/*{ 
    box-sizing: border-box; 
} */

body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
} 

.green-banner { 
    background-color: green; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 15px; 
} 

.blue-block { 
    background-color: blue; 
    color: white; 
    height: auto; 
    width: 30%; 
    margin: 0 auto; 
    padding: 15px; 
    overflow: hidden; 
    font-size: 14px; 
    position: relative; /* Позволяет точно позиционировать элементы внутри блока */
} 

.rectangle { 
    background-color: transparent; /* Прозрачный фон */ 
    border: 5px solid white; /* Белая рамка */ 
    width: 25%; 
    height: 110px; 
    margin-top: 0.3%; 
    float: left; /* добавлено для обтекания текста */ 
    margin-right: 15px; /* отступ для текста */   
    border-top-left-radius: 30px; /* Скругление верхнего левого угла */
    border-bottom-right-radius: 30px; /* Скругление правого нижнего угла */
    margin-bottom: 20px;
}
.second-rectangle {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 30px; /* Отступ от нижней части синего блока */
    right: 20px; /* Отступ от правой части синего блока */
    width: 31%; 
    height: 140px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle1 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 79px; /* Отступ от нижней части синего блока */
    right:122px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 85px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle2 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 124px; /* Отступ от нижней части синего блока */
    right:24px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle3 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 124px; /* Отступ от нижней части синего блока */
    right: 73px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle4 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 79px; /* Отступ от нижней части синего блока */
    right: 73px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle5 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 79px; /* Отступ от нижней части синего блока */
    right: 24px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}

.mini-rectangle6 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 34px; /* Отступ от нижней части синего блока */
    right: 122px; /* Отступ от правой части синего блока */
    width: 9%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}
.mini-rectangle7 {
    position: absolute; /* Позволяет позиционировать элемент */
    bottom: 34px; /* Отступ от нижней части синего блока */
    right: 24px; /* Отступ от правой части синего блока */
    width: 19%; 
    height: 40px; 
    background-color: transparent; 
    border: 2px solid white;
}

.link-center { 
    text-align: center; /* Центрирование текста ссылки */ 
    margin-top: 0; /* Отступ сверху перед ссылкой */ 
} 

.link-center a { 
    color: rgb(192, 0, 0); /* Цвет ссылки */ 
    text-decoration: none; /* Убираем подчеркивание */ 
    font-weight: bold; /* Жирное начертание текста */ 
} 

.highlight { 
    color: red; /* Красный цвет для выделения */ 
} 

.footer { 
    position: fixed; 
    bottom: 0px;
    width: 100%; 
} 
